<h2>Báo cáo tổng hợp</h2>
<ul class="list-group">
    <li class="list-group-item">Tổng đơn hàng: <b>@ViewBag.Orders</b></li>
    <li class="list-group-item">Tổng doanh thu: <b>@String.Format("{0:N0} đ", ViewBag.Revenue)</b></li>
    <li class="list-group-item">Sản phẩm đang hoạt động: <b>@ViewBag.LowStock</b></li>
</ul>
